@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/variables" as *;

.workoutselection__container {
  @include flex-center($direction: row, $justify: center, $align: center);
  margin: 2rem;
}
.wo-form__exercise-type {
  margin: 1rem;
  padding-top: 3rem;
}

.wo-form__exercise-type-label {
  @include flex-center($direction: column, $justify: center, $align: center);
  margin: 1rem;
}

.wo-form__portal {
  @include flex-center(
    $direction: column,
    $justify: space-evenly,
    $align: center
  );
  margin: 1rem;
  position: relative;
  bottom: -5rem;
}

.wo-form__duration-container
  .wo-form__fitnessLevel-container
  .wo-form__intensity-container {
  @include flex-center(
    $direction: column,
    $justify: space-evenly,
    $align: center
  );
}

.wo-form__label {
  @include flex-center($direction: column, $justify: start, $align: flex-start);
  margin: 1rem;
}

.wo-form__text {
  font-family: "Outfit";
  font-weight: 300;
  margin: 1rem;
}

.wo-form__formfield {
  width: 30vw;
  height: 5vh;
  margin: 1rem;
  padding: 0 1.5rem;
  border-radius: 2rem;
  border: 2px solid $primary-accent;
  font-family: "Outfit";
  font-weight: 300;
}

// .wo-form__formfield:invalid {
//   border: 2px solid red;
// }

// .wo-form__fitnessLevel-container {
//   @include flex-center(
//     $direction: column,
//     $justify: space-evenly,
//     $align: center
//   );
// }

.wo-form__select {
  width: 30vw;
  height: 5vh;
  margin: 1rem;
  padding: 0 1.5rem;
  border-radius: 2rem;
  border: 2px solid $primary-accent;
  font-family: "Outfit";
  font-weight: 300;
}

option {
  font-family: "Outfit";
  font-weight: 300;
}

button {
  @include flex-center($direction: colun, $justify: center, $align: center);
}

.wo-form__next {
  height: 2rem;
  width: 5rem;
  background-color: $primary-accent;
  color: $secondary-text;
  border: none;
  margin: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
  font-family: "outfit";
  font-weight: 300;
  transition: height, width;
  transition-duration: 0.5s;
  &:hover {
    height: 2.5rem;
    width: 5.5rem;
  }
}

.wo-form__info-container {
  @include flex-center(
    $direction: column,
    $justify: space-evenly,
    $align: center
  );
  margin: 1rem;
  position: relative;
  bottom: -5rem;
}

.wo-form__label-info {
  @include flex-center($direction: column, $justify: start, $align: flex-start);

  .wo-form__info-text {
    font-family: "Outfit";
    font-weight: 300;
    padding: 1rem;
  }
  .wo-form__formfield-info {
    width: 90vw;
    height: 20vh;
    margin: 1rem;
    padding: 0 1.5rem;
    border-radius: 2rem;
    border: 2px solid $primary-accent;
    font-family: "Outfit";
    font-weight: 300;
  }
}

.wo-form__cta {
  @include flex-center($direction: column, $justify: center, $align: center);
  margin: 1rem;
  position: relative;
  bottom: -5rem;
}

.wo-form__workoutDataPreview {
  @include flex-center(
    $direction: column,
    $justify: space-evenly,
    $align: center
  );
}

.wo-form__previewText {
  font-family: "Outfit";
  font-weight: 300;
}

.wo-form__previewList {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
}
.wo-form__field {
  width: 15rem;
  padding: 1rem;
  margin: 1rem;
}

.wo-form__generate-button {
  height: 5rem;
  width: 10rem;
  background-color: $primary-accent;
  color: $secondary-text;
  border: none;
  margin: 0.5rem;
  border-radius: 5rem;
  cursor: pointer;
  transition: height, width;
  transition-duration: 0.5s;
  &:hover {
    height: 5.5rem;
    width: 10.5rem;
  }
}

.wo-form__generate {
  font-family: "outfit";
  font-weight: 300;
}
