@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/variables" as *;

.workout-player__container {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
