// =======================
// Media Breakpoints
// =======================

$tablet-breakpoint: 48rem; // 768px;
$desktop-breakpoint: 80rem; // 1280px;

// =======================
// Colors
// =======================

//Primary Colors
$primary-text: #131112;
$primary-background: #e0f987;
$primary-accent: #5465ff;

//secondary colors
$secondary-text: #ffffff;
$secondary-background: #f4f9e4;

//supporting colors
