@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/variables" as *;

.exerciseType__cards {
  @include flex-center($direction: column, $justify: center, $align: center);
  @include tablet {
    @include flex-center($direction: row, $justify: center, $align: center);
    flex-wrap: wrap;
    position: relative;
    bottom: -5rem;
  }
}

.exerciseType__container {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  box-shadow: 4.4px 8.8px 8.8px hsl(0deg 0% 0% / 0.36);
  width: 75vw;
  height: 20vh;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  transition-property: background-image, width, height;
  transition-duration: 0.5s;
  @include tablet {
    width: 20vw;
    height: 20vh;
  }
  &:hover {
    width: 80vw;
    height: 25vh;
    @include tablet {
      width: 25vw;
    }
  }

  &--indoorbike {
    background-image: linear-gradient(
        rgba(50, 50, 50, 0.5),
        rgba(50, 50, 50, 0.5)
      ),
      url(../../assets/images/indoorcycle.jpg);
  }
  &--indoorbike:hover {
    background-image: linear-gradient(rgba(50, 50, 50, 0), rgba(50, 50, 50, 0)),
      url(../../assets/images/indoorcycle.jpg);
  }

  &--outdoorbike {
    background-image: linear-gradient(
        rgba(50, 50, 50, 0.5),
        rgba(50, 50, 50, 0.5)
      ),
      url(../../assets/images/outdoorcycle.jpg);
  }
  &--outdoorbike:hover {
    background-image: linear-gradient(rgba(50, 50, 50, 0), rgba(50, 50, 50, 0)),
      url(../../assets/images/outdoorcycle.jpg);
  }

  &--treadmill {
    background-image: linear-gradient(
        rgba(50, 50, 50, 0.5),
        rgba(50, 50, 50, 0.5)
      ),
      url(../../assets/images/treadmill.jpg);
  }
  &--treadmill:hover {
    background-image: linear-gradient(rgba(50, 50, 50, 0), rgba(50, 50, 50, 0)),
      url(../../assets/images/treadmill.jpg);
  }
  &--outdoorRun {
    background-image: linear-gradient(
        rgba(50, 50, 50, 0.5),
        rgba(50, 50, 50, 0.5)
      ),
      url(../../assets/images/outsiderun.jpg);
  }
  &--outdoorRun:hover {
    background-image: linear-gradient(rgba(50, 50, 50, 0), rgba(50, 50, 50, 0)),
      url(../../assets/images/outsiderun.jpg);
  }
  &--swim {
    cursor: not-allowed;
    background-image: linear-gradient(
        rgba(50, 50, 50, 0.5),
        rgba(50, 50, 50, 0.5)
      ),
      url(../../assets/images/swim.jpg);
  }
  // &--swim:hover {
  //   background-image: linear-gradient(rgba(50, 50, 50, 0), rgba(50, 50, 50, 0)),
  //     url(../../assets/images/swim.jpg);
  // }
}

.exerciseType__headerText {
  color: $primary-text;
  width: 25%;
}
// .exerciseType__text-swim {
//   display: hidden;
// }
// .exerciseType__text-swim:hover {
//   display: block;
// }

.exerciseType__Future-text {
  color: $primary-text;
  font-family: "Outfit";
  font-weight: 300;
}
