@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/variables" as *;

.workout__completed-section {
  background-image: linear-gradient(
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url(../../assets/images/image_fx_trophy.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.workout__complete-container {
  padding: 15rem 1rem;
  width: 45%;
  color: $primary-background;
}

.workout__complete-text {
  padding: 2rem;
}
