@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/variables" as *;

.timer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
