@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/variables" as *;

.header {
  height: 5rem;
  background-color: transparent;
  @include flex-center($direction: row, $align: center);
  justify-content: space-between;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__fixed {
  display: flex;
}

.header__logo-link {
  text-decoration: none;
}

.header__logo {
  color: $primary-accent;
}

.header__logo-home {
  color: #e0f987;
}

.header__workout-link {
  padding-left: 5rem;
  text-decoration: none;
}

.header__userProfile {
  text-decoration: none;
}

.button__header {
  height: 2rem;
  background-color: $primary-accent;
  border: none;
  margin: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.button__text {
  color: $secondary-text;
  text-wrap: nowrap;
  padding: 0.5rem;
}

.header__profile {
  text-decoration: none;
  .button__profile-container {
    display: flex;
  }
}

.header__hide {
  display: none;
}
