@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/variables" as *;

.header {
  height: 5rem;
  background-color: transparent;
  @include flex-center($direction: row, $align: center);
  justify-content: space-between;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__fixed {
  display: flex;
  flex-direction: row;
}

.header__logo-link {
  text-decoration: none;
}

.header__logo {
  color: $primary-accent;
}

.header__logo-home {
  display: flex;
  flex-direction: column;
  color: #e0f987;
}

.powered {
  color: $primary-accent;
  font-size: 0.75rem;
  font-weight: 300;
}

.powered-home {
  color: #e0f987;
  font-size: 0.75rem;
  font-weight: 300;
}

.header__workout-link {
  display: flex;
  align-items: center;
  padding-left: 3rem;
  text-decoration: none;
}

.button__text {
  display: inline-block;
  color: $secondary-text;
  text-wrap: nowrap;
  padding: 0.5rem;
}

.header__userProfile {
  text-decoration: none;
}

.button__header {
  height: 2rem;
  background-color: $primary-accent;
  border: none;
  margin: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.button__text-join {
  display: none;
  @include tablet {
    display: inline-block;
    color: $secondary-text;
    text-wrap: nowrap;
    padding: 0.5rem;
  }
}

.button__text-login {
  display: none;
  @include tablet {
    display: inline-block;
    color: $secondary-text;
    text-wrap: nowrap;
    padding: 0.5rem;
  }
}

.button__text-profile {
  display: inline-block;
  color: $secondary-text;
  text-wrap: nowrap;
  padding: 0.5rem;
}

.button__text-mobile {
  color: $secondary-text;
  text-wrap: nowrap;
  padding: 0.5rem;
  @include tablet {
    display: none;
  }
}

.header__profile {
  text-decoration: none;
  .button__profile-container {
    display: flex;
  }
}

.header__hide {
  display: none;
}
