@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/variables" as *;

.homepage__section {
  display: flex;
  flex-direction: column;
}
.heroImage__section {
  background-image: linear-gradient(
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url(../../assets/images/image_fx_cyclist.jpg);
  background-size: cover;
  background-position: center;
  max-height: 65vh;
  @include tablet {
    min-height: 70vh;
  }
}

.heroImage__textbox {
  padding: 6rem;
  color: white;
  width: 50%;
  height: 5rem;
}

.heroImage__header {
  font-weight: 300;
  padding: 1rem;
}

.heroImage__text {
  font-weight: 300;
  padding: 1rem;
}

.heroImage__text-join {
  font-weight: 300;
  padding: 1rem;
}

.heroImage__quickstart {
  text-decoration: none;
  color: $primary-background;
  font-weight: 300;
}

.features__section {
  margin: 1rem;
  @include flex-center($direction: column, $justify: center, $align: center);

  .features__header {
    font-weight: 300;
    color: $primary-text;
  }

  .features__container {
    @include flex-center($direction: row, $justify: center, $align: center);
  }
  .features__details {
    @include flex-center($direction: row, $justify: center, $align: center);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    width: 33%;
    height: 15rem;
    border-radius: 2rem;
    background-color: $primary-background;
    .features__text {
      font-weight: 300;
      color: $primary-text;
      width: 75%;
    }
  }
}

.background__section {
  background-image: linear-gradient(
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url(../../assets/images/image_fx_runner.jpg);
  background-size: cover;
  background-position: top;
  min-height: 60vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: $secondary-text;
  .background__section-text {
    width: 40%;
  }
  .background__text {
    padding: 1rem;
  }
}
